src/wsdl/calcular_edad_webservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jueves24/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jueves24/" name="calcular_edad_webservice">
<types>
<xsd:schema>
<xsd:import namespace="http://jueves24/" schemaLocation="http://localhost:8080/jueves24/calcular_edad_webservice?xsd=1"/>
</xsd:schema>
</types>
<message name="altura">
<part name="parameters" element="tns:altura"/>
</message>
<message name="alturaResponse">
<part name="parameters" element="tns:alturaResponse"/>
</message>
<message name="calcular_edad">
<part name="parameters" element="tns:calcular_edad"/>
</message>
<message name="calcular_edadResponse">
<part name="parameters" element="tns:calcular_edadResponse"/>
</message>
<message name="carrera">
<part name="parameters" element="tns:carrera"/>
</message>
<message name="carreraResponse">
<part name="parameters" element="tns:carreraResponse"/>
</message>
<message name="alumno">
<part name="parameters" element="tns:alumno"/>
</message>
<message name="alumnoResponse">
<part name="parameters" element="tns:alumnoResponse"/>
</message>
<message name="universidad">
<part name="parameters" element="tns:universidad"/>
</message>
<message name="universidadResponse">
<part name="parameters" element="tns:universidadResponse"/>
</message>
<portType name="calcular_edad_webservice">
<operation name="altura">
<input wsam:Action="http://jueves24/calcular_edad_webservice/alturaRequest" message="tns:altura"/>
<output wsam:Action="http://jueves24/calcular_edad_webservice/alturaResponse" message="tns:alturaResponse"/>
</operation>
<operation name="calcular_edad">
<input wsam:Action="http://jueves24/calcular_edad_webservice/calcular_edadRequest" message="tns:calcular_edad"/>
<output wsam:Action="http://jueves24/calcular_edad_webservice/calcular_edadResponse" message="tns:calcular_edadResponse"/>
</operation>
<operation name="carrera">
<input wsam:Action="http://jueves24/calcular_edad_webservice/carreraRequest" message="tns:carrera"/>
<output wsam:Action="http://jueves24/calcular_edad_webservice/carreraResponse" message="tns:carreraResponse"/>
</operation>
<operation name="alumno">
<input wsam:Action="http://jueves24/calcular_edad_webservice/alumnoRequest" message="tns:alumno"/>
<output wsam:Action="http://jueves24/calcular_edad_webservice/alumnoResponse" message="tns:alumnoResponse"/>
</operation>
<operation name="universidad">
<input wsam:Action="http://jueves24/calcular_edad_webservice/universidadRequest" message="tns:universidad"/>
<output wsam:Action="http://jueves24/calcular_edad_webservice/universidadResponse" message="tns:universidadResponse"/>
</operation>
</portType>
<binding name="calcular_edad_webservicePortBinding" type="tns:calcular_edad_webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="altura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcular_edad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="carrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="universidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calcular_edad_webservice">
<port name="calcular_edad_webservicePort" binding="tns:calcular_edad_webservicePortBinding">
<soap:address location="http://localhost:8080/jueves24/calcular_edad_webservice"/>
</port>
</service>
</definitions>